{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <h1>Random number generator</h1>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 26px; text-align: center }

</style>
{% endblock %}
